/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.navbar {
  justify-content: center;
  padding: 1em;
}

.navbar-brand {
  font-size: 2em;
}

.bg-img {
  background-color: #078fa1;
}

.search-text {
  color: #343a40!important;
}

.search-bg {
  background-color: #ededed;
  padding: 20px;
}

.bg-primary {
  background-color: #078fa1!important;
}

.btn-primary {
  background-color: #078fa1!important;
  border-color: #078fa1!important;
}

.list-group-item.active {
  background-color: #078fa1;
  border-color: #078fa1;
}

.uvindex {
  padding: .4em;
}

.five-cards {
  box-sizing: border-box;
  width: 20%;
  margin: 5px;
  padding: 5px;
}

.five-cards:first-child {
  margin-left: 0px;
}

.five-cards:last-child{
  margin-right: 0px;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

#searchbtn{
  padding: 6px 5px 0px 5px;
}

.fa-search {
  padding: 0 .5em;
}

.bg-light {
  background-color: #ededed!important;
}

.card-title {
  font-weight: bold;
  text-transform: uppercase ;
}